{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Deployment list{% endblock %}

{% block content_content %}
    <a href="{{ path('homepage') }}" class="btn btn-default">
        Back to the homepage
    </a>

    {# @TODO: ugly hack #}
    <br>
    <br>
    {{ include('@QaSystemCore/Deployment/_deployments.html.twig', { "deployments": entities }) }}
{% endblock %}
