{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Deployment list{% endblock %}

{% block content %}
    <div class="col-sm-12">
        {% block content_content %}
            {{ include('@QaSystemCore/Deployment/_deployments.html.twig', { "deployments": entities }) }}
        {% endblock %}
    </div>
{% endblock content %}
