{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Deployment list{% endblock %}

{% block content %}
    <div class="col-sm-12">
        {% block content_content %}

            {% for task in tasks %}
                <a class="btn" href="{{ path('deployment_new', {taskName : task.name}) }}">
                    {{ task.name }}
                </a>
            {% endfor %}

            {#{{ include('@QaSystemCore/Deployment/_deployments.html.twig', { "deployments": entities }) }}#}
        {% endblock %}
    </div>
{% endblock content %}
