{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Deployment creation{% endblock %}

{% block content_content %}
    <a href="{{ path('deployment') }}" class="btn btn-default">
        Back to the list
    </a>

    {# @TODO: ugly hack #}
    <br>
    <br>

    <div class="well form-horizontal">
        {{ form(form) }}
    </div>
{% endblock %}
