{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block content %}
<h1>Project creation</h1>

<form action="{{ path('jira_project_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('jira_project') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
