{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2>Deployment list</h2>
            {{ include('QaSystemCoreBundle:Core:deployments.html.twig', { "servers": servers }) }}
        </div>

        <div class="col-md-2">
            <h2>Projects</h2>
            {{ include('QaSystemCoreBundle:Core:projects.html.twig', { "projects": projects }) }}
        </div>
    </div>
{% endblock %}
