{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Homepage{% endblock %}

{% block content_content %}
    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('deployment') }}" class="btn btn-large btn-default btn-block">Manage deployments</a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('project') }}" class="btn btn-large btn-default btn-block">Manage projects</a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('recipe') }}" class="btn btn-large btn-default btn-block">Manage recipes</a>
        </div>
    </div>
{% endblock %}