<table class="table table-hover" id="project_table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in projects %}
        <tr>
            <td>{{ entity.name }}</td>
            <td class="text-center action-button">
                <a href="{{ path('deployment_new', { 'project_id': entity.id }) }}" class="btn btn-primary btn-block btn-sm">new deployment</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
