<div class="panel panel-default">
    <div class="panel-heading">Placeholders</div>

    <ul class="list-group">
        <li class="list-group-item"><code>{{ '{{SERVER}}' }}</code></li>
    </ul>
</div>
