{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Recipe edit{% endblock %}

{% block content_content %}
    <a href="{{ path('recipe') }}" class="btn btn-default">
        Back to the list
    </a>

    <div class="well form-horizontal">
        {{ form(edit_form) }}
    </div>

{% endblock %}

{% block content_sidebar %}
    <legend>Placeholders</legend>

    {{ include('@QaSystemCore/Recipe/_placeholders.html.twig') }}

{% endblock %}
