{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block content_content %}
    <h1>Recipe edit</h1>

    <div class="well form-horizontal">
        {{ form(edit_form) }}
    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('recipe') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
