{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Recipe creation{% endblock %}

{% block content_content %}
    <p>
        <a href="{{ path('recipe') }}" class="btn btn-default">
            Back to the list
        </a>
    </p>

    <div class="well form-horizontal">
        {{ form(form) }}
    </div>
{% endblock %}

{% block content_sidebar %}
    <legend>Example workflow</legend>

    {{ include('@QaSystemCore/Recipe/_placeholders.html.twig') }}

    <pre class="small">
  {
     "start": "step1",
     "step1": {
         "name": "test1step",
         "command": "echo step1",
         "next": "step2"
     },
     "step2": {
         "name": "test2step",
         "command": "echo step2"
     },
     "step3": {
         "name": "errorStep",
         "command": "echo test"
     }
  }
    </pre>
{% endblock %}
