{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block content_content %}
    <h1>Recipe creation</h1>

    <form class="well bs-example form-horizontal">
        {{ form_widget(form) }}
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('recipe') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
