{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block content_content %}
    <h1>Project edit</h1>

    <form class="well bs-example form-horizontal">
        {{ form_widget(form) }}
    </form>

    <ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
