{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Project edit{% endblock %}

{% block content_content %}
    <p>
        <a href="{{ path('project') }}" class="btn btn-default">
            Back to the list
        </a>
    </p>

    <div class="well form-horizontal">
        {{ form(edit_form) }}
    </div>

    <div class="well form-horizontal">
        {{ form(delete_form) }}
    </div>
{% endblock %}
