{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Project list{% endblock %}

{% block content_content %}
    <p>
        <a href="{{ path('homepage') }}" class="btn btn-default">
            Back to the homepage
        </a>
        <a href="{{ path('project_new') }}" class="btn btn-default pull-right">
            Create a new entry
        </a>
    </p>

    {{ include('@QaSystemCore/Project/_projects.html.twig', { "projects": entities }) }}
{% endblock %}
