{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block content_content %}
    <h1>Project creation</h1>

    <div class="well form-horizontal">
        {{ form(form) }}
    </div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('project') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
